[Unit]
Description=KMonad keyboard config for external keyboard

[Service]
Restart=always
RestartSec=3
ExecStart=/opt/kmonad /home/nicb112/.config/kmonad/keychron-k3.kbd
Nice=-20

[Install]
DefaultInstance=config
WantedBy=default.target
