unbind r
bind r source-file ~/.tmux.conf

set -g prefix C-a

# act like vim
setw -g mode-keys vi
bind-key h select-pane -L
bind-key j select-pane -D
bind-key k select-pane -U
bind-key l select-pane -R

# resizing
bind-key M-> resize-pane -R 10
bind-key M-< resize-pane -L 10

bind s split-window -v
bind v split-window -h

# reduce delay for nvim to escape
set -sg escape-time 10

# List of plugins
set -g @plugin "tmux-plugins/tpm"
set -g @plugin "christoomey/vim-tmux-navigator"

# https://github.com/wfxr/tmux-fzf-url
set -g @plugin "wfxr/tmux-fzf-url"
# these options are passed to fzf-tmux
set -g @fzf-url-fzf-options "-w 50% -h 50% --multi -0"

# PowerKit plugin, https://github.com/fabioluciano/tmux-powerkit
set -g @plugin "fabioluciano/tmux-powerkit"

{{ if eq .chezmoi.username "nicb112" }}

set -g @powerkit_theme "iceberg"
set -g @powerkit_theme_variant "dark"

{{ else }}

set -g @powerkit_theme "horizon"
set -g @powerkit_theme_variant "default"

{{ end }}


# Configure separator style
set -g @powerkit_separator_style "none"
set -g @powerkit_edge_separator_style "none"
set -g @powerkit_status_order "session,windows"

set -g @powerkit_elements_spacing "true"  # false, true, both, windows, plugins

set -g status-position top

set -g default-terminal "xterm-256color"
set -ga terminal-overrides ",xterm-256color:Tc"

set -g allow-passthrough on

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run "~/.tmux/plugins/tpm/tpm"
