[Unit]
Description=KMonad keyboard config for Thinkpad keyboard

[Service]
Restart=always
RestartSec=3
ExecStart=/opt/kmonad /home/nicb112/.config/kmonad/built-in.kbd
Nice=-20

[Install]
DefaultInstance=config
WantedBy=default.target
